@import "tailwindcss";
@keyframes scaleIn {
  from {
    transform: scale(0.9);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.animate-scale-in {
  animation: scaleIn 0.2s ease-out;
}
/* ===== FIX react-datepicker + header sticky ===== */
.react-datepicker-popper {
  z-index: 9999 !important;
}

.react-datepicker__portal {
  z-index: 9999 !important;
}
